@green: #6fb840;
@ff: #34341d;

.MuseoSansCyrl300() {
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
}
.MuseoSansCyrl900() {
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	font-weight: bold;
}
.light {
	font-weight: 300;
}
.medium {
	font-weight: 500;
}

.semibold () { // Used
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.extrabold () { // Used
	font-weight: 800;
}




.text-center {
	text-align: center;
}
html {
	height: 100%;
}
body {
	font-family: 'Proxima Nova', sans-serif;
	padding-top: 150px;
	min-width: 1200px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
h1 {
	.extrabold();
}
.wrapper {
	
    width: 100%;
    flex: 1 0 auto;
	max-width: 1920px;
	margin: auto;
	left: 0;
	right: 0;
}
header {
	height: 150px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	background: white;
}
.breadcrumbs {
	color: #979797;
	background: #f4f4f1;
//	display: inline-block;
	font-size: 14px;
    padding: 11px 0 10px;
	text-transform: uppercase;
	&__item-hr {
		margin: 0 7px;
	}
	&__item {
		text-decoration: none;
		color: inherit;
//		&:hover {
//			text-decoration: inherit;
//		}
		&_active {
			color: black;
		}
	}
}
.header-block-dark {
	background: #393834;
	height: 50px;
	&__container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		color: #f4f4f1;
		a {
			text-decoration: none;
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.header-block-nav {
	display: flex;
	height: 100px;
	align-items: center;
}

.header-contacts {
	font-size: 18px;
	&__item {
		border-right: 1px solid white;
		padding-right: 12px;
		margin-right: 10px;
		line-height: 13px;
		display: inline-block;
		
		&:last-child {
			border-right: 0;
			padding-right: 0;
			margin-right: 0;
		}
	}
}
.search {
	position: relative;
	margin: 0 30px;
	&__input {
		height: 27px;
		width: 280px;
		border: 0;
		box-shadow: none;
		border-radius: 27px/2;
		padding: 5px 25px 5px 15px;
		outline: none;
	}
	&__icon {
		position: absolute;
		top: 0;
		right: 0;
		height: 17px;
		width: 17px;
		background: data-uri('image/svg+xml;base64', '../img/loupe.svg') no-repeat;
		background-size: 17px 17px;
		top: 5px;
		right: 7px;
	}
}
.logo {
	width: 189px;
	height: 80px;
}
.menu {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	height: 100%;
	padding: 0 50px;
	&__item {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 100px;
		color: #34341d;
//		margin-left: 40px;
		text-decoration: none;
		vertical-align: middle;
//		border-top: 3px solid transparent;
		transition: all .3s ease;
		.semibold();
		position: relative;
		
		&:hover, &.active {
			color: @green;
//			border-top-color: @green;
			&:before {
				transform: scaleX(1);
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background: @green;
			transform: scaleX(0);
			transition: all .3s ease;
		}
	}
}
.social {
	display: flex;
	
	&__icon {
		display: block;
		width: 32px;
		height: 32px;
		background: white;
		border-radius: 50%;
		transition: all .3s ease;
		text-decoration: none;
		color: white;
		margin-right: 15px;
		overflow: hidden;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			box-shadow: 0 0 0 2px #393834, 0 0 0 3px white;
		}
		> svg {
			width: 32px;
			height: 32px;
			fill: #393834;
		}
	}
	&_dark {
		.social__icon {
			background: #393834;
			
			&:hover {
				box-shadow: 0 0 0 2px white, 0 0 0 3px #393834;
			}
			> svg {
				fill: #FFFFFF;
			}
		}
	}
}

.types {
	
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin-left: -10px;
	margin-right: -10px;
	&__item {
		background-color: #f4f4f1;
		display: block;
		flex: 1 0 0;
		margin: 10px;
		text-decoration: none;
		color: #34341d;
		text-transform: uppercase;
		.semibold();
		text-align: center;
		border: 4px solid #34341d;
		font-size: 13px;
		a& {
			transition: box-shadow .3s ease;
			&:hover {
				box-shadow: 0 0 0 2px white, 0 0 0 4px #393834;
			}
		}
	}
	&__text {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		min-height: 36px;
		height: calc(~"100% - 76px");
	}
	&__img {
		height: 76px;
		width: 100%;
		background-color: #606060;
		margin: 0;
		background-size: cover;
		background-position: center;
		border-bottom: 4px solid #34341d;
	}
}
.articles {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 25px;
	margin-top: 5px;
	&__item {
		flex: 0 0 100/3%;
		padding: 0 15px;
		margin: 25px 0;
	}
	&__title {
		font-size: 18px;
		color: #34341d;
		line-height: 30px;
		margin-bottom: 0.2em;
		.semibold();
	}
	&__text {
		font-size: 16px;
		color: #9b9b9b;
		line-height: 22px;
		margin-top: 0.2em;
		margin-bottom: 1.7em;
	}
	&__btn {
		font-size: 14px;
		background: #393834;
		border: 0;
		color: #f4f4f1;
		line-height: 30px;
		padding: 0 21px;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
		
		transition: box-shadow .3s ease;
		&:hover {
			box-shadow: 0 0 0 2px white, 0 0 0 4px #393834;
		}
		
	}
}

.footer {
	background: #393834;
	color: white;
}
.footer-container {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.copyright {
	.semibold();
	font-size: 16px;
	text-transform: uppercase;
}
.dev {
	text-align: center;
	&__text {
		font-size: 12px;
		margin-bottom: 6px;
		text-transform: uppercase;
	}
	&__img {
		width: 137px;
		height: 44px;
	}
}
.slider-hero {
	width: 100%;
	color: #f4f4f1;
	&__item {
		overflow: hidden;
		background-size: cover;
		height: 100%;
	}
	&__info {
		width: 400px;
		text-transform: uppercase;
		padding-bottom: 140px;
		transition: all 0.5s ease;
		h1 {
			font-size: 36px;
			margin-bottom: 19px;
			margin-top: 60px;
		}
		ul {
			list-style: none;
			padding-left: 0;
			.semibold();
			line-height: 32px;
			font-size: 16px;
			letter-spacing: 0.4px;
		}
		
//		background: url(/img/rm/2.png) 0 31px;
		
	}
	&__overlay {
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		left: 50%;
		margin-left: calc(~"-100% - 80px");
		position: relative;
		display: flex;
		justify-content: flex-end;
		transition: all .7s ease-in;
		transition-delay: .2s;
		height: 100%;
	}
	&__btn {
		background: @green;
		text-decoration: none;
		color: white;
		line-height: 44px;
		display: inline-flex;
		padding: 0 45px;
		margin-top: 23px;
	}
}
.up {
	background: @green;
	border-radius: 4px;
	border: 0;
	box-shadow: none;
	height: 77px;
	width: 77px;
	display: block;
	text-align: center;
	position: fixed;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	right: 50%;
	bottom: 106px;
    margin-right: -568px;
	padding-top: 20px;
//	position: relative;
	
//	animation-duration: 1000ms;
//	animation-fill-mode: both;
//	animation-delay: .5s;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease;
	cursor: pointer;
	&.view {
		opacity: 1;
		visibility: visible;
	}
	&:before {
		content: '';
		position: absolute;
		border: 13px solid transparent;
		border-bottom-color: white;
		top: 37-26px;
		left: 50%;
		margin-left: -13px;
	}
}
.content-title {
	background: @green;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 58px;
	border-top: 2px solid black;
	margin: 0;
	padding: 0 15px;
	.MuseoSansCyrl900();
}
.content-subtitle {
	background: @green;
	color: white;
	line-height: 53px;
	margin: 0;
	padding: 0 15px;
	font-size: 16px;
	.semibold();
}
.content-text {
	font-size: 16px;
	background: #f4f4f1;
	line-height: 24px;
	padding: 15px 15px 20px;
	.semibold();
}
.contacts {
	display: flex;
	align-items: stretch;
	&__container {
		flex: 1 0 0;
		&#map {
			background: gray;
		}
		
	}
	&__info {
		width: 960/2px;
		padding-left: 12px;
		padding-bottom: 24px;
		padding-top: 2px;
		line-height: 24px;
//		background: url(/img/rm/3.png) top left no-repeat red;
		.MuseoSansCyrl300();
		color: #393834;
		font-size: 14px;
		p {
			margin: 0;
		}
		h4 {
			margin-bottom: 0;
			margin-top: 24px;
		}
		td {
			padding: 0;
			line-height: 22px;
		}
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.about {
	.MuseoSansCyrl300();
	font-size: 14px;
	line-height: 24px;
	padding: 20px 0;
	text-align: justify;
	&__img {
		float: left;
		margin-right: 25px;
	}
	p {
		margin-top: 0;
		margin-bottom: 24px;
	}
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

}
.card {
	border: 1px solid #d3d3d3;
	text-decoration: none;
	background: #f4f4f1;
	display: block;
	color: #34341d;
//	margin: 10px 0;
	margin-bottom: 20px;
	transition: box-shadow .3s ease;
	&:hover {
		box-shadow: 0 0 0 2px white, 0 0 0 3px #d3d3d3;
	}
//	background: url(/img/rm/4.png) -1px -1px no-repeat red;
	&__img {
		height: 176px;
		border-bottom: 1px solid #d3d3d3;
		background-color: gray;
		background-size: cover;
		background-position: center;
	}
	&__title {
		padding: 5px 12px;
		font-size: 18px;
		text-transform: uppercase;
		.semibold();
		line-height: 28px;
		overflow: hidden;
		text-overflow: ellipsis;
//		max-height: 38px;
		white-space: nowrap;
	}
	&__subtitle {
		font-size: 14px;
		text-transform: uppercase;
		padding: 3px 12px 11px;
		overflow: hidden;
		text-overflow: ellipsis;
//		max-height: 30px;
		white-space: nowrap;
	}
	
}
.catalog {
	padding-bottom: 40px;
}
.catalog-slider {
	.slider-hero__info {
		padding-left: 20px;
		h1 {
			margin-top: 10px;
		}
	}
	.owl-nav {
		margin-left: -480px + 20px;
	}
	.owl-dots {
		margin-left: -440px + 20px;
	}
}
.catalog-title {
	text-align: center;
	background: #f4f4f1;
	margin: 20px 0;
	line-height: 60px;
	text-transform: uppercase;
	font-size: 30px;
	.semibold();
	color: #34341d;
}
.category-menu {
	background: #f4f4f1;
	position: relative;
	overflow: hidden;
	border-bottom: 2px solid #737351;
	&:last-child {
		border: 0;
	}
	&__section-state {
		display: none;
	}
	&__section-title {
		background: #34341d;
		font-size: 16px;
		.semibold();
		color: white;
		text-transform: uppercase;
		line-height: 50px;
		padding: 0 12px;
		margin: 0;
		z-index: 2;
		cursor: pointer;
		position: relative;
		user-select: none;
		&:hover {
			background: #3e3e22;
		}
	}
	&__section-list {
		list-style: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		visibility: hidden;
		z-index: -1;
		transform: translateY(-100px);
	}
	&__section-item {
		border-bottom: 1px solid #dfdfdf;
	}
	&__section-link {
		font-size: 14px;
		text-decoration: none;
		text-transform: uppercase;
		color: #34341d;
		padding-left: 13px;
		line-height: 40px;
		display: block;
		&:hover {
			background: #e2e2e2;
		}
		&:before {
			content: '';
			display: inline-block;
			height: 5px;
			width: 5px;
			border-radius: 50%;
			background: #292f37;
			vertical-align: middle;
			margin-bottom: 2px;
			margin-right: 4px;
		}
	}
}

.category-menu__section-state:target +  .category-menu__section .category-menu__section-list,
.category-menu__section-state:checked + .category-menu__section .category-menu__section-list {
	position: static;
	visibility: visible;
	z-index: 1;
	transform: none;
	transition: transform 300ms ease;
}
.product-title {
	font-size: 18px;
	background: #f4f4f1;
	padding: 0 16px;
	line-height: 48px;
	font-size: 18px;
	text-transform: uppercase;
	.semibold();
	margin: 0;
}
.characteristics {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	padding: 20px 0;
	background: #539220;
	margin-bottom: 40px;
	&__item {
		border-right: 8px solid #ffd900;
		font-size: 12px;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		flex: 1 0 0;
		text-align: center;
		line-height: 15px;
		letter-spacing: 0.5px;
		&:last-child {
			border-right: 0;
		}
	}
	&__item-icon {
		img {
			width: 77px;
			height: 77px;
		}
	}
	&__item-text {
		padding: 17px 25px;
	}
}
.product {
	display: flex;
	align-items: stretch;
	margin: 18px 0;
	
//	background: url(/img/rm/5.png) top no-repeat;
}
.product-gallary {
	min-width: 400px;
	flex: 0 0 400px;
	
//	background: gray;
}
.product-gallary-slider {
	padding: 0 25px;
	&__item {
		max-width: 100%;
//		height: 69px;
//		width: 110px;
	}
}
.product-gallary-full {
	margin-bottom: 10px;
	&__item {
		display: none;
		&.active {
			display: block;
			width: 100%;
		}
	}
}
.product-info {
	flex: 0 0 560px;
	padding-left: 20px;
	&__title {
		margin: 0;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 0.6px;
	}
	&__text {
		font-size: 16px;
		line-height: 26px;
	}
	&__char {
		.semibold();
		font-size: 14px;
		margin-top: 24px;
		text-transform: uppercase;
		letter-spacing: 0.3px;
	}
	&__btn {
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		background: #f6aa31;
		border: 0;
		box-shadow: 0 3px 0 #c28627;
		font-size: 18px;
		font-family: 'Proxima Nova', sans-serif;
		.semibold();
		color: #282828;
		padding: 15px 27px;
		margin-bottom: 3px;
		cursor: pointer;
		outline: 0;
		margin-top: 14px;
		&:hover {
			background: #ffb33a;
		}
		&:active {
			box-shadow: none;
			transform: translateY(3px);
		}
	}
}
.related {
	margin-top: 20px;
	margin-bottom: 20px;
}
.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}
.owl-animated-out {
  z-index : 1 
}
.owl-animated-in {
  z-index : 0 
   }
.fadeOut  {
	-webkit-animation-name : fadeOut  ;
	animation-name : fadeOut  ;
	animation-delay: .5s;
	.slider-hero__info {
		opacity: 0;
	}
	.slider-hero__overlay {
		transform: translateX(-100%);
	}
}  
.owl-item {
	
	.slider-hero__info {
		opacity: 0;
	}
	.slider-hero__overlay {
		transform: translateX(-100%);
	}
}
.owl-item.active {

	.slider-hero__info {
		transition-delay: 1.3s;
		opacity: 1;
	}
	.slider-hero__overlay {
		transition-delay: .8s;
		transition-timing-function: ease-out;
		transform: translateX(0);
	}
}
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}